{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
 <div class ="container">
   <form action="{{path ('login') }}" method ="post">
    <div class="form-group">
    <label for="Username">email</label>
    <input type ="text" id="username" name="email"class="form-control">
    </div>
    <div class="form-group">
     <label for="password">mot de passe</label>
     <input type ="password" id="mot de passe" name="password" class="form-control">
     </div>
      <button type ="submit" class="btn btn-primary">Se connecter</button>
     </form>
 </div>

{% endblock %}
