{% extends 'base.html.twig' %}

{% block title %}New Option{% endblock %}

{% block body %}
<div class ="container">
    <h1>Create new Option</h1>

    {{ include('option/_form.html.twig') }}
<br/>
    
    </div>
{% endblock %}
